@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Light mode variables */
:root {
  --color-primary: #4F46E5;      /* Indigo Blue */
  --color-secondary: #06B6D4;    /* Cyan */
  --color-main: #FBCFE8;         /* Soft Pink */
  --color-background: #F5F5FF;   /* Soft White */
  --color-foreground: #1F2937;   /* Dark Gray */
  --color-title: #F43F5E;        /* Rose Red */
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #add2e4;
    --color-secondary: #0ab5cf;
    --color-main: #7afcfc;
    --color-background: #033f3f;
    --color-foreground: #d4ebc6;
    --color-title: #FB7185;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
    @apply antialiased;
  }
}

@layer components {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}