@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Light mode variables */
:root {
  --color-primary: #4f46e5; /* Indigo Blue */
  --color-secondary: #06b6d4; /* Cyan */
  --color-main: #fbcfe8; /* Soft Pink */
  --color-background: #f5f5ff;
  --color-font: #f5f5ff;
  --color-font-hover: #f5f5ff;
  --color-foreground: #1f2937; /* Dark Gray */
  --color-title: #f43f5e; /* Rose Red */
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #041822;
    --color-secondary: #0ab5cf;
    --color-main: #7afcfc;
    --color-background: #0c1421;
    --color-font: #7afcfc;
    --color-font-hover: #0d8a8a;
    --color-foreground: #f5f5ff;
    --color-title: #fb7185;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
    @apply antialiased;
  }
}

@layer components {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
